@media (min-width: 992px) {
  /* Animaciones */
  @keyframes rebote {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.1);
    }
  }

  /* Reset */
  * {
    margin: 0;
    padding: 0;
  }

  /* Body Styles */
  body {
    background-image: linear-gradient(to bottom, #dbc5f3, #dbc5f3, #c7a3e9);
    background-size: cover;
    font-family: "Roboto", sans-serif;
  }

  /* Barra de nav */
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px;
    background-color: #a169de;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 25px 25px;
    box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.25);
  }
  #navIcon {
    height: 40px;
  }
  .navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    gap: 55px;
  }
  .navLinks a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
      padding 0.3s ease;
    border-radius: 25px;
  }
  .navLinks a:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    padding: 5px;
  }
  .navButton {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 0 solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  .navButton:hover {
    background-color: #dbc5f3;
  }

  /* Sección Bienvenida */
  .bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: black;
    padding: 15px;
    gap: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 150px;
  }
  .bienvenida h1 {
    font-size: 50px;
    width: 50%;
  }
  .bienvenida h3 {
    font-size: 20px;
    color: #5a5a5a;
  }
  .bienvenidaLogo {
    width: 338px;
  }
  #bienvenidaButton {
    width: 20%;
    height: 25%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 0 solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  #bienvenidaButton:hover {
    background-color: #9154d9;
    color: white;
    animation: rebote 0.5s;
    transform: scale(1.1);
    cursor: pointer;
  }

  /* Fondo Bienvenida */
  .fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: red;
    background-image: url("../images/FotosRelleno/CabifyParking.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    backdrop-filter: blur(5px);
  }
  .fondo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
    border-radius: 15px;
  }

  /* Sugerencias */
  .seccionSugerencias {
    margin: 100px 50px 0px 100px;
  }
  .seccionSugerencias h2 {
    margin: 2% 5%;
  }
  .sugerencias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 2%;
    align-items: stretch;
    text-align: left;
  }
  .sugerenciasContainer {
    padding: 25px;
    width: 25%;
    min-height: 11vh;
    height: auto;
    background-color: white;
    border-radius: 25px;
  }
  .sugerenciasLogo {
    width: 30%;
    height: 100%;
  }
  .texto {
    width: 70%;
    font-size: 1em;
    flex-grow: 1;
    overflow: hidden;
  }
  .texto h3 {
    margin-bottom: 10px;
  }
  .sugerenciasCard {
    display: flex;
    flex-wrap: wrap;
  }
  .saberMas {
    transition: background-color 0.3s ease;
    padding: 5px;
    margin-top: 10%;
    font-weight: bold;
    border: 0 solid transparent;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
  }
  .saberMas:hover {
    background-color: #dbc5f3;
  }

  /* Descargar App */
  .descargarApp {
    width: 100%;
    background-color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
  }
  .cuadroDescarga {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 75%;

    background-color: #c7a3e9;
    margin: 50px;
    border-radius: 25px;
    min-height: 100%;
  }
  .cuadroDescarga img {
    width: 50%;
  }

  .areaTexto {
    width: 65%;
    /* color: white; */
    margin-left: 100px;
    text-align: justify;
  }
  .areaTexto h1 {
    font-size: 3vw;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    word-spacing: 0.2em;
  }
  .areaTexto p {
    max-height: 10em;
    line-height: 1em;
    overflow: hidden;
  }

  .areaTexto a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1vw;
    color: #fff;
    transition: background-color 0.3s;
  }

  .botonesDescargar {
    margin-top: 50px;
    display: flex;
    gap: 10px;
  }
  .appstore {
    background-color: #000;
  }

  .googleplay {
    background-color: #3bcc5a;
  }

  .areaTexto a i {
    margin-right: 10px;
    font-size: 30px;
  }

  .areaTexto a:hover {
    opacity: 0.8;
  }

  /* Opiniones */
  .sectionOpiniones {
    margin: 100px 50px 100px 100px;
  }
  .sectionOpiniones h2 {
    margin: 2% 5%;
  }

  .opiniones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    color: black;
    width: 100%;
  }

  .opinion {
    padding: 25px;
    width: 40%;
    min-height: 11vh;
    height: auto;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 2%;
  }
  .opinion img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  .estrellas {
    margin-top: 15px;
  }

  /* Footer */
  footer {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 15px;
    text-align: center;
    padding: 100px;
  }
  .footerArea1 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  .footerImg {
    width: 35%;
    height: auto;
  }
  .footerImg img {
    width: 25%;
  }
  .rrss {
    color: white;
    text-decoration: none;
    text-align: right;
    width: 60%;
    font-size: 2em;
  }
  .rrss a {
    color: white;
  }
}
