@media only screen and (max-width: 600px) {
  /* Reset */
  * {
    margin: 0;
    padding: 0;
  }

  /* Body Styles */
  body {
    background-image: linear-gradient(to bottom, #dbc5f3, #dbc5f3, #c7a3e9);
    background-size: cover;
    font-family: "Roboto", sans-serif;
  }

  /* Barra de nav */
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px;
    background-color: #a169de;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.25);
  }
  #navIcon {
    display: none;
  }
  .navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    gap: 50px;
  }
  .navLinks a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-size: 1.5em;
  }
  .navLinks a span {
    display: none;
  }

  .navButton {
    display: none;
  }
  .navButton p {
    display: none;
  }

  /* Sección Bienvenida */
  .bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: black;
    padding: 15px;
    gap: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
  }
  .bienvenida h1 {
    font-size: 25px;
    width: 80%;
  }
  .bienvenida h3 {
    font-size: 15px;
    color: #5a5a5a;
  }
  .bienvenidaLogo {
    width: 65%;
    height: auto;
  }
  #bienvenidaButton {
    width: 50%;
    height: 25%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 0 solid transparent;
    border-radius: 15px;
  }

  .BienvenidaButton2 {
    display: none;
  }
  /* Fondo Bienvenida */
  .fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: red;
    background-image: url("../images/FotosRelleno/CabifyParking.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    backdrop-filter: blur(5px);
  }
  .fondo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: -1;
    border-radius: 15px;
  }

  /* Sugerencias */
  .seccionSugerencias h2 {
    margin: 5% 5%;
  }
  .sugerencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    align-items: stretch;
    text-align: left;
  }
  .sugerenciasContainer {
    padding: 25px;
    min-height: 1vh;
    height: auto;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 75%;
  }
  .sugerenciasLogo {
    width: 35%;
    height: 100%;
  }
  .texto {
    width: 65%;
    font-size: 1em;
    flex-grow: 1;
    overflow: hidden;
  }
  .texto h3 {
    margin-bottom: 10px;
  }

  .sugerenciasCard {
    display: flex;
    flex-wrap: wrap;
  }
  .saberMas {
    margin-top: 10%;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1em;
    width: 100%;
  }

  /* Descargar App */
  .descargarApp {
    width: 100%;
    background-color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
  }
  .cuadroDescarga {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c7a3e9;
    margin: 50px;
    border-radius: 25px;
    height: 45vh;
  }
  .cuadroDescarga img {
    display: none;
  }

  .areaTexto {
    width: 80%;
    text-align: justify;
  }
  .areaTexto h1 {
    font-size: 1em;
    color: black;
    text-align: left;
    margin-bottom: 2px;
  }
  .areaTexto p {
    max-height: 10em;
    line-height: 1em;
    overflow: hidden;
    font-size: 1em;
  }

  .areaTexto a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1vw;
    color: #fff;
    transition: background-color 0.3s;
  }
  .botonesDescargar {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }
  .appstore {
    background-color: #000;
    justify-content: center;
    text-align: center;
  }

  .googleplay {
    background-color: #3bcc5a;
  }

  .areaTexto a i {
    font-size: 10em;
  }
  .areaTexto a span {
    display: none;
  }

  /* Opiniones */

  .sectionOpiniones h2 {
    margin: 5% 5%;
  }

  .opiniones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 0px 20px;
  }

  .opinion {
    padding: 15px;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto auto 2% auto;
  }
  .opinion img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  .estrellas {
    margin-top: 15px;
  }
  .resena p {
    font-size: 0.7em;
  }

  /* Footer */
  footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 15px 100px 15px;
    text-align: center;
  }
  .footerArea1 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  .footerImg {
    width: 40%;
    height: auto;
  }
  .footerImg img {
    width: 50%;
  }
  .rrss {
    color: white;
    text-decoration: none;
    text-align: right;
    width: 60%;
    font-size: 2em;
  }
  .rrss a {
    color: #9154d9;
  }
  .areaTextoFooter {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
    gap: 10%;
    font-size: 0.8em;
  }
  .areaTextoFooter li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  .areaTextoFooter a {
    color: #b281e2;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .areaTextoFooter a:hover {
    color: #9154d9;
    transform: scale(1.1);
  }
}
