/* Color Theme Swatches in Hex */
.Morado-1-hex {
  color: #dbc5f3;
}
.Morado-2-hex {
  color: #c7a3e9;
}
.Morado-3-hex {
  color: #b281e2;
}
.Morado-4-hex {
  color: #a169de;
}
.Morado-5-hex {
  color: #9154d9;
}
